/node_modules
/public/hot
/public/storage
/public/php_errors.log
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
php_errors.log
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
